<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logar</title>
</head>
<body>
    <form action="/logar" method="post">
        <input type="email" name="email" id="email">
        <input type="password" name="senha" id="senha">
        <button type="submit">Enviar</button>
    </form>
</body>
</html>